<h1>Holiday Discount</h1>

<%= render partial: 'form', locals: { path: "/merchants/#{@merchant.id}/discounts", method: :post, button_text: 'Submit', percentage_value: 30, quantity_value: 2, name_value: params[:name] } %>
